{
    "extends": "airbnb",
    "rules": {
        "linebreak-style": 0,
        "react/jsx-filename-extension": [0],
        "import/no-named-as-default": 0,
        "import/no-named-as-default-member": 0,
        "no-console": 0
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    }
}
